
/* GENERAL CSS */

body {
  overflow: hidden;
  /* background-image: linear-gradient(to right, white, red); */
  background: lightgray;
}

.content {
  padding-top: 50px;
}

p {
 padding-left: 20px;
}

/*
a {
  color: #3DCAB5;
}

a:hover {
  color: red;
}

a:visited {
  color: #3DCAB5;
}

a:active {
  color: white;
}
*/


/* NAVBAR CSS */

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: gray;
  /*background-image: linear-gradient(to right, #0077B5, white);*/
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  zIndex: 1000;
}

.navbar h1 {
  font-size: 24pt;
  user-select: none;
  margin: 0;
  color: black;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.githubLink {
    width: 50px;
    height: 50px;
    user-select: none;
    transition: transform 0.3s ease;
}

.githubLink:hover {
    transform: scale(1.1);
}

.linkedInLink {
    width: 140px;
    height: 37px;
    padding-right: 20px;
    user-select: none;
    transition: transform 0.3s ease;
}

.linkedInLink:hover {
    transform: scale(1.1);
}


/* HAMBURGER MENU CSS */

.hamburger-menu {
  font-size: 28px;
  font-weight: bold;
  margin-right: 15px;
  padding-top: 5px;
  border: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.hamburger-menu:focus {
  outline: none;
}

.menu {
  position: absolute;
  margin-left: -10px;
  top: 80px;
  left: -375px;
  background-color: white;
  color: black;
  width: 365px;
  transition: left 0.3s ease-in-out;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  user-select: none;
}

.menu.open {
  left: 0;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 7px;
  text-align: left;
  margin-left: 30px;
}

.menu a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
}

.resume-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
}

.resume-wrapper {
    margin-top: 50px;
    max-width: 60%;
}

.resume-image {
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin-bottom: 80px;
}


