@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


/* GENERAL CSS */

body {
  overflow: hidden; /* This can hide overflow, but it also prevents scrolling */
  margin: 0; /* Reset default body margin */
  padding: 0; /* Reset default body padding */
  height: 100vh; /* Ensure the body covers the entire viewport height */
/*  background: linear-gradient(45deg, #808080 0%, #FFFFFF 50%, #808080 100%);
  background-size: 200% 200%; *//* Increase the background size to cover the entire viewport */
  background: #ededed;
}

.content {
  padding-top: 50px;
}

p {
 padding-left: 20px;
 font-family: 'DM Sans', sans-serif;
 font-weight: 500;
}

/*
a {
  color: #3DCAB5;
}

a:hover {
  color: red;
}

a:visited {
  color: #3DCAB5;
}

a:active {
  color: white;
}
*/


/* NAVBAR CSS */

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to right, #FF585D, #FF8D6D, #FFC658);
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  zIndex: 1000;
}

.navbar h1 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 20pt;
  user-select: none;
  margin: 0;
  color: black;
{/*  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #303030;*/}
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.navbar-right {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.githubLink {
    width: 30px;
    height: 30px;
    user-select: none;
    transition: transform 0.3s ease;
}

.githubLink:hover {
    transform: scale(1.1);
}

.linkedInLink {
    width: 100px;
    height: 25px;
    padding-right: 20px;
    user-select: none;
    transition: transform 0.3s ease;
}

.linkedInLink:hover {
    transform: scale(1.1);
}

.gray-blend-line {
  position: absolute;
  bottom: 4px; /* Adjust to position the gray line above the color-blend line */
  left: 0;
  width: 100%;
  height: 5px; /* Adjust as needed */
  background: linear-gradient(to bottom, gray, dimgray); /* Change colors as needed */
}

.color-blend-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; /* Adjust as needed */
/*  background: linear-gradient(to right, #3500b0, #008080, #0078e0, #3500b0);*/
  animation: colorShift 5s infinite linear forwards;
  border-bottom: 2px solid black;
  border-top: 1px solid black;
}

@keyframes colorShift {
  0% {
    background-position: 100vw 50%;
  }
  99.9% {
    background-position: -0.1vw 50%; /* Slightly overlap with the last keyframe */
  }
  100% {
    background-position: 0 50%;
  }
}


/* HAMBURGER MENU CSS */

.hamburger-menu {
  position: relative; /* Positioning context for pseudo-element */
  font-size: 16px;
  margin-right: 15px;
  border: black 1.5px solid;
  border-radius: 3px;
  background-image: linear-gradient(to right, #FF585D, #FF8D6D, #FFC658); /* Gradient background */
  color: black;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  z-index: 1000;
}

.hamburger-menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #FFC658, #FF8D6D, #FF585D); /* Gradient background for hover state */
  opacity: 0; /* Start with transparent */
  transition: opacity 0.5s ease-out; /* Smooth transition for opacity change */
  z-index: -1; /* Behind the main element */
}

.hamburger-menu:focus {
  outline: none;
}

.hamburger-menu:hover::before {
  opacity: 1; /* Show the pseudo-element on hover */
}

.menu {
  position: absolute;
  margin-left: -10px;
  top: 60px;
  left: -375px;
  background-color: white;
  color: black;
  width: 200px;
  transition: left 0.3s ease-in-out;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 1.5px solid black; /* Add this line to create a black outline */
  user-select: none;
}

.menu.open {
  left: 0;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 7px;
  text-align: left;
  margin-left: 30px;
}

.menu a {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  z-index: 1; /* Ensure the text appears above the pseudo-element */
}

.menu a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #FF585D, #FF8D6D, #FFC658);
  border: 1.5px rgba(0, 0, 0, 0) solid; /* Same as the initial border */
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.5s, border-color 0.5s; /* Transition opacity and border color */
  z-index: -1; /* Ensure the pseudo-element stays behind the text */
}

.menu a:hover::before {
  opacity: 1;
  border-color: black; /* Change the border color on hover */
}

.menu a:hover {
  border-color: black; /* Change the border color on hover */
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
}

.resume-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
}

.resume-image {
    width: 100%; /* Use percentage for desktop view */
    height: auto;
    border: 1px solid black;
    margin-bottom: 80px;
    margin-top: 5px;
}

.resume-wrapper {
    margin-top: 50px;
    max-width: 60%; /* Keep max-width for desktop view */
}

@media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens (e.g., phones) */
    .resume-image {
        width: 95vw; /* Use viewport width for mobile view */
    }

    .resume-wrapper {
        width: 95%; /* Adjust width to take full width in mobile view */
        max-width: none; /* Remove max-width for mobile view */
        margin: 50px auto;
    }

  .navbar {
    align-items: center;
  }

  .navbar-right {
    padding: 0;
    margin-top: 10px;
  }

  .navbar h1 {
    font-size: 13pt;
  }

  .githubLink {
    width: 30px;
    height: 30px;
    margin-right: 25px;
    margin-left: 0px;
  }

  .linkedInLink {
    width: 80px;
    height: 20px;
  }

  .menu {
    width: 300px;
  }
}

.footer {
  font-family: 'DM Sans', sans-serif;
  font-size: 8pt;
  font-weight: 500;
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -5;
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to the full viewport height */
}

.goose {
  text-align: center; /* Center the image horizontally */
}

.goose-image {
  width: 100px; /* Initial width of the image */
  height: auto; /* Maintain aspect ratio */
  animation: spin 4s linear infinite, resize 4s ease-in-out infinite, color-change 10s infinite; /* Apply the spin, resize, and color-change animations */
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Rotate from 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate to 360 degrees */
  }
}

@keyframes resize {
  0%, 100% {
    width: 5px; /* Initial and final width of the image */
  }
  50% {
    width: 100px; /* Resize width to 150px */
  }
}

@keyframes color-change {
  0% {
    filter: hue-rotate(0deg); /* No color rotation */
  }
  100% {
    filter: hue-rotate(360deg); /* Rotate hue 360 degrees */
  }
}