
/* GENERAL CSS */

body {
  overflow: hidden;
  /* background-image: linear-gradient(to right, white, red); */
}

.content {
  padding-top: 50px; /* This controls height for the navbar on all pages. */
}

p {
 padding-left: 20px;
}

/*
a {
  color: #3DCAB5;
}

a:hover {
  color: red;
}

a:visited {
  color: #3DCAB5;
}

a:active {
  color: white;
}
*/


/* NAVBAR CSS */

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background-image: linear-gradient(to right, #0077B5, white);
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  zIndex: 1000;
}

.navbar h1 {
  font-size: 24pt;
  user-select: none;
  margin: 0;
  color: black;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.githubLink {
    width: 50px;
    height: 50px;
    user-select: none;
    transition: transform 0.3s ease;
}

.githubLink:hover {
    transform: scale(1.1);
}

.linkedInLink {
    width: 140px;
    height: 37px;
    padding-right: 20px;
    user-select: none;
    transition: transform 0.3s ease;
}

.linkedInLink:hover {
    transform: scale(1.1); /* Scale up the image on hover */
}


/* HAMBURGER MENU CSS */

.hamburger-menu {
  font-size: 28px; /* Adjust the size as needed */
  font-weight: bold;
  margin-right: 15px; /* Add margin for spacing */
  padding-top: 5px;
  border: none;
  background-color: transparent; /* Remove button background */
  color: black;
  cursor: pointer;
}

.hamburger-menu:focus {
  outline: none; /* Remove focus outline if desired */
}

.menu {
  position: absolute;
  margin-left: -10px;
  top: 80px; /* Adjust the positioning as needed */
  left: -375px; /* Initially hide the menu off-screen */
  background-color: white;
  color: black;
  width: 365px;
  transition: left 0.3s ease-in-out; /* Add a smooth transition */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  user-select: none;
}

.menu.open {
  left: 0; /* Show the menu when 'open' class is applied */
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 7px;
  text-align: left;
  margin-left: 30px;
}

.menu a {
  font-weight: bold;
  color: black; /* Change the color as desired */
  text-decoration: none; /* Remove the default underline */
}

.menu a:hover {
  color: #0056b3; /* Change the color on hover */
  text-decoration: underline; /* Add underline on hover */
}

.close-button {
  position: absolute;
  top: 10px; /* Adjust top position as needed */
  right: 10px; /* Adjust right position as needed */
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
}

