@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


/* GENERAL CSS */

body {
  overflow: hidden; /* This can hide overflow, but it also prevents scrolling */
  margin: 0; /* Reset default body margin */
  padding: 0; /* Reset default body padding */
  height: 100vh; /* Ensure the body covers the entire viewport height */
  background-image: linear-gradient(to bottom, #fafafa 0, #5c739e 1000px);
}

footer {
  font-family: 'DM Sans', sans-serif;
  font-size: 8pt;
  font-weight: 500;
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -5;
}

.content {
  padding-top: 30px;
}

.homeParagraph {
  text-align: center;
  font-size: 14pt;
}

.SportsDataProject {
  padding: 20px;
}

.sportsDataParagraph {
  text-align: center;
  font-size: 17px;
  margin-bottom: 20px;
}

.pitchingLineups {
  display: flex;
  justify-content: space-between;
}

.lineup {
  width: 45%;
}

.lineup h2 {
  margin-bottom: 10px;
}

.lineup p {
  margin: 5px 0;
}

p {
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    padding: 0px 30px; /* Adjusted padding */
    text-indent: 1em;
    margin: 10px auto 0; /* 20px top margin, center horizontally */
    max-width: 80%;
}

p:first-child {
    margin: 60px auto 0;
}

ul {
    margin-left: 80px;
}

/* NAVBAR CSS */

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, #0aa169, #3c878c, #266C87, #3c588c, #512cb0, #0aa169);
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    z-index: 1000; /* Corrected property name */
}

.header-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
    user-select: none;
    margin: 0;
    color: black;
}

.header-title-container {
    position: relative; /* This makes the container a positioned ancestor */
    height: 24px; /* Adjust the height as needed */
    width: 160px;
    margin-left: 6px;
}

.header-title-name {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    user-select: none;
    margin: 0;
    color: black;
    position: absolute;
    bottom: 0; /* Sticks the text to the bottom */
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.color-blend-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; /* Adjust as needed */
  background-image: linear-gradient(to right, #0aa169, #3c878c, #266C87, #3c588c, #512cb0, #0aa169);
  animation: colorShift 9s infinite linear forwards;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
}

@keyframes colorShift {
  0% {
    background-position: 100vw 50%;
  }
  99.9% {
    background-position: -0.1vw 50%; /* Slightly overlap with the last keyframe */
  }
  100% {
    background-position: 0 50%;
  }
}


/* HAMBURGER MENU CSS */

.hamburger-menu {
    position: relative;
    font-size: 17px;
    margin-right: 15px; /* Change margin-right to margin-left */
    border: black 1.5px solid;
    border-radius: 3px;
    background-image: linear-gradient(to right, #0aa169, #3c878c, #266C87, #3c588c, #512cb0);
    color: black;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    z-index: 1000;
}

.hamburger-menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #512cb0, #3c588c, #266C87, #3c878c, #0aa169);
    opacity: 0;
    transition: opacity 0.5s ease-out;
    z-index: -1;
}

.hamburger-menu:focus {
    outline: none;
}

.hamburger-menu:hover::before {
    opacity: 1;
}

.menu {
    position: absolute;
    margin-right: -15px; /* Change margin-left to margin-right */
    top: 60px;
    right: -375px; /* Change left to right */
    background-color: white;
    color: black;
    min-width: 280px; /* Change width to min-width */
    transition: right 0.3s ease-in-out; /* Change left to right */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 1.5px solid black;
    user-select: none;
    z-index: 10;
}

.menu.open {
    right: 0; /* Change left to right */
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Add margin to remove default margin */
}

.menu li {
    padding: 6px;
    text-align: left;
    margin-left: 10px;
    transition: transform 0.2s ease;
}

.menu li:first-child {
    margin-top: 7px;
}

.menu li:last-child {
    margin-bottom: 7px;
}

.menu li:hover {
    transform: scale(1.05); /* Scale up by 5% */
}

.menu a,
.menu button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    z-index: 1;
    font-size: 16px;
    transition: transform 0.2s ease; /* Add transition property */
}

.menu button {
    background-color: transparent;
    border: none;
    outline: none;
}

.menu a:hover {
    transform: scale(1.45); /* Increase size by 5% on hover */
}



.ScrollableContainer {
  height: 100vh; /* Set a fixed height for the container */
  overflow-y: auto; /* Allow vertical overflow */
}

.AlongTheWay {
  display: flex;
  flex-direction: column; /* Stack images vertically */
  align-items: center; /* Center images horizontally */
}

.image {
  margin-top: 15px;
  max-width: 90%; /* Set maximum width for the images */
  width: auto; /* Allow images to adjust width proportionally */
  margin-bottom: 5px; /* Add margin between images */
  border: 1px solid black;
}

.image:first-child {
  margin-top: 50px;
}

.bottom-margin {
  margin-bottom: 100px; /* Adjust margin for the bottom image */
}

@media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens (e.g., phones) */
    .resume-image {
        width: 95vw; /* Use viewport width for mobile view */
    }

    ul {
      margin-left: 30px;
    }

    .resume-wrapper {
        width: 95%; /* Adjust width to take full width in mobile view */
        max-width: none; /* Remove max-width for mobile view */
        margin: 50px auto;
    }

  .navbar {
    align-items: center;
    width: 100vw;
    height: 7vh;
    background-size: 100% 100%;
  }

  .navbar-right {
    padding: 0;
  }

  .menu {
    width: 180px;
    top: 85px;
  }

  .hamburger-menu {
    font-size: 18pt;
  }

  .homeParagraph {
    text-align: justify;
    font-size: 13pt;
  }

  .header-title {
    font-size: 24px;
  }

  .header-title-container {
      position: relative; /* This makes the container a positioned ancestor */
      height: 24px; /* Adjust the height as needed */
      width: 160px;
      margin-left: 6px;
  }

  .header-title-name {
      font-family: 'DM Sans', sans-serif;
      font-weight: 500;
      font-size: 17px;
      user-select: none;
      margin: 0;
      color: black;
      position: absolute;
      bottom: 0; /* Sticks the text to the bottom */
  }

}

.Home {
  margin-top: 7em;
  display: flex-top;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to the full viewport height */
}

.Projects {
  margin-top: 7em;
}

.projectsParagraph {
  text-align: center;
}

.Contact {
  margin-top: 7em;
}

.contactParagraph {
  text-align: center;
}

.homeParagraph {
  text-align: center;
}

.resume-page-container {
    max-height: 100vh;
    overflow-y: auto;
}

.download-pdf-container {
    text-align: center;
    margin-top: 70px; /* Adjust margin as needed */
}

.resume-container {
    display: flex;
    justify-content: center;
    /* Removed height and overflow-y as it's now handled by resume-page-container */
}

.resume-image {
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 5px;
}

.resume-image:last-of-type {
    margin-bottom: 80px;
}

.resume-wrapper {
    margin-top: 20px;
    max-width: 65%;
}

.downloadPDF {
    font-size: 16px;
}