.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Center vertically in the viewport */
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 10px; /* Adjust the gap as needed */
}

.button {
    background-color: #EFEFE6; /* Button background color */
    color: black; /* Button text color */
    padding: 25px 35px; /* Adjust padding as needed */
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

p {
    pointer-events: none;
    user-select: none;
}

p.createFour {
    margin-bottom: 40px;
    font-size: 14pt;
}

.circle-container {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Adjust spacing from the text above */
}

.circle {
    font-size: 36px; /* Customize the font size as needed */
    color: #5A594E;
    margin-left: 3px; /* Adjust spacing between circles */
    margin-bottom: 8px;
    pointer-events: none;
    user-select: none;
}

.button {
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust spacing from the circle-container */
}

.bottomButton {
    background-color: white;
    font-weight: bold;
    color: black;
    padding: 12px 15px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 5px; /* Adjust spacing between buttons */
    user-select: none;
}

